@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 3px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#color-palette {
    margin: 50px;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    float: left;
}

#red {
    border: solid black 1px;
    color: red;
}

#yellow {
    border: solid black 1px;
    color: yellow;
}

#blue {
    border: solid black 1px;
    color: blue;
}

#black {
    border: solid black 1px;
    color: black;
}